<header class="header-border">
    <div class="conteiner main-nav">
        <a class="logo" href="" lang="en"><span class="logo-blue">Web</span><span class="logo-black">Studio</span></a>
        <nav class="nav">
            <ul class="site-nav list">
                <li class="item"><a class="link current" href="">Студія</a></li>
                <li class="item"><a class="link" href="">Портфоліо</a></li>
                <li class="item"><a class="link" href="">Контакти</a></li>
            </ul></nav>
            
                </li>
            </ul>
            </div>